@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: $font-stack;
  //   color: rgb(61, 65, 63);
  color: $primary;
  background-color: $secondary;
}

ul {
  list-style-type: none;
}
