// Font

$font-stack: "Poppins", Arial, sans-serif; // primary font stack
// $font-stack: "RedHat", Arial, sans-serif; // alternate font stack

// Colors
$primary: rgb(37, 40, 37);
$secondary: rgb(251, 250, 253);
$tertiary: rgb(138, 141, 145);
$quaternary: rgb(86, 87, 88);

// #eeeeee
// #e2e2e2
// #bebebe
// #6d6d6d
// #202021

// Breakpoint dimensions

$tablet-breakpoint: 767px;
$desktop-breakpoint: 1279px;
