@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.portfolio {
  max-width: 128rem;
  margin: 0 auto;
  padding: 3rem 2rem;

  &__text {
    color: $tertiary;
  }
}
