@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.skills {
  max-width: 128rem;
  margin: 0 auto;
  padding: 3rem 2rem;

  &__text {
    color: $tertiary;
  }
  &__icon {
    width: 9rem;
    height: 9rem;
    filter: contrast(70%);
  }
}
