@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.skills {
  max-width: 128rem;
  margin: 0 auto;
  padding: 3rem 10rem;

  &__container {
    @include flex(row);
    // flex-direction: row-reverse;
    gap: 4rem;
    // align-items: center;
    margin-bottom: 4rem;
  }

  &__split-l {
    min-width: 17rem;
  }

  &__header {
    background-color: $primary;
    color: $secondary;
    padding: 1rem;
    text-align: center;
  }

  &__text {
    color: $tertiary;
    text-align: center;
  }

  &__icons {
    @include flex(row);
    justify-content: center;
    gap: 4.2rem;
    flex-wrap: wrap;
    // max-width: 80rem;
    // margin: 0 auto;
    border: 0.1rem solid $secondary;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    margin: 3rem;
    padding: 2rem;
  }

  &__icon {
    width: 6rem;
    height: 6rem;
    filter: contrast(70%);

    &:hover {
      transition: all 0.1s;
      filter: contrast(30%);
      transform: scale(1.2);
    }
  }
}
