@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  max-width: 128rem;
  margin: 0 auto;
  @include flex(column);
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 2rem;

  @include tablet {
    gap: 1.6rem;
    padding: 2rem 0;
  }

  @include mobile {
    gap: 1.2rem;
  }

  &__socials {
    padding: 1rem 0;
    @include flex(row);
    gap: 2rem;
  }

  &__icon {
    display: block;
    width: 4rem;
    height: 4rem;
    filter: contrast(70%);

    @include tablet {
      width: 3.6rem;
      height: 3.6rem;
    }

    @include mobile {
      width: 3rem;
      height: 3rem;
    }

    &:hover {
      transition: all 0.3s;
      filter: contrast(30%);
      transform: scale(1.2);
    }
  }
}
