@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.experience {
  max-width: 128rem;
  margin: 0 auto;
  padding: 3rem 2rem;

  &__text {
    color: $tertiary;
  }

  &__resume {
    text-decoration: none;
    font-weight: 600;
    color: $primary;
    // font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }
}
