@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.experience {
  max-width: 128rem;
  margin: 0 auto;
  padding: 3rem 10rem;

  &__container {
    @include flex(row);
    gap: 4rem;
    align-items: center;
    margin-bottom: 4rem;
    justify-content: space-between;
  }

  &__header {
    background-color: $primary;
    color: $secondary;
    padding: 1rem;
  }

  &__text {
    color: $tertiary;
    text-align: center;
  }

  &__resume {
    text-decoration: none;
    font-weight: 600;
    color: $primary;
    // font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }
}
